@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here An Example about Book Table With EntityFremwork.</p>
</div>
@model List<Book>

<table class="table">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Title</th>
            <th>Author Id</th>
            <th>Category Id</th>
            <th>Sub Category Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author?.Name</td>
                <td>@book.Category?.Name</td>
                <td>@book.SubCategory?.Name</td>
            </tr>
        }
    </tbody>
</table>